[2017-02-14 16:19] bermud opened #2 "Check that test is properly structure and master builds"

[2017-02-28 04:01] rjmartell opened #4 "No unit tests for features, tiles, metadata test methods"
There are no unit tests for any test methods in these packages. While complete coverage may not be necessary, adding some would help to confirm that the implemented tests behave correctly when checking valid and invalid files.

[2017-02-28 04:02] rjmartell commented on #2
Updated parent POM to ets-common-9.

[2017-03-07 02:28] jyutzler commented on #4
There are no individual unit tests, but /src/test/java/org/opengis/cite/gpkg12/VerifyTestNGController.java calls the test suite for a hard-coded file. This mechanism can be expanded to include multiple test files (each with different test successes and failures). That should satisfy the desire for unit tests.

[2017-04-05 03:04] jyutzler commented on #4
@rjmartell I did a significant amount of work in this area as part of #6. Please let me know if that work resolves this issue or if there is something else you are looking for. Strict unit testing is going to be virtually impossible with the way the tests are constructed (throwing exceptions on failures). There is no good automated way to check whether there is a test that fails a particular asser

[2017-04-08 13:46] jyutzler opened #8 "Warning message during execution"
When the ETS executes, it outputs the following warning message on each run:

It is unclear how this recommendation is to be executed. Simply replacing `<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">` with the above text results in an error on execution.

[2017-04-20 21:47] jyutzler commented on #8
Fixed in https://github.com/jyutzler/ets-gpkg12/commit/d4595f7f958684d92741d7c4c63e1a1a02cd7f67#diff-f104ca422797170d6b6a966f9dcb947b

[2017-04-20 21:47] #8 closed

[2017-04-22 19:31] rouault opened #10 "CRSWKT.activeExtension() checks for extension_name 'gpkg_crs_wkt'"
There's this test SELECT count(*) from gpkg_extensions WHERE extension_name = 'gpkg_crs_wkt' in https://github.com/opengeospatial/ets-gpkg12/blob/5d5f7125846f94832f96064f1fcd0c72299a1ce8/src/main/java/org/opengis/cite/gpkg12/extensions/crswkt/CRSWKT.java#L41 but there is no requirement in the spec for the extension to be registered that way

[2017-04-22 19:40] rouault opened #11 "WEBP test sems to accept PNG or JPEG tiles as well"
My understanding of https://github.com/opengeospatial/ets-gpkg12/blob/master/src/main/java/org/opengis/cite/gpkg12/extensions/webp/WebPTests.java#L163 is that it will accept WEBP tiles as soon as the extension is declared.

But my understanding of http://www.geopackage.org/spec/#92 is that a webp enabled tile pyramid user table should contain only webp tiles ("""The MIME type of values of the tile

[2017-05-08 15:44] #2 closed

[2017-07-12 20:34] jyutzler commented on #11
We have fixed the wording on the requirement.

[2017-07-12 20:34] #11 closed

[2017-07-12 20:35] jyutzler commented on #10
We added this requirement (since an app would have no way of knowing about it otherwise without duck-typing).

[2017-07-12 20:35] #10 closed

[2017-08-10 18:25] bermud opened #15 "Consistency in documentation and UI about what conformance classes are available"
We need to update the index.html page and the CTL to provide information about the correct conformance classes. They are not consistent.

<img width="631" alt="gpk12" src="https://user-images.githubusercontent.com/3738898/29185453-45d135a2-7dd7-11e7-8d48-1bc39dc0e0ee.png">

And: http://cite.opengeospatial.org/te2/about/gpkg12/1.2/site/

<img width="1036" alt="gpk12scope" src="https://user-images.g

[2017-09-20 14:16] bermud commented on #15
@dstenger, please review this test suite for consistency. We need to be sure that the index file is consistent with the user interface in terms of advertising the conformance classes. Also need to correct the name (1.0 to 1.2) and make a note that it is backwards compatible (I think).

[2017-09-27 19:06] bermud commented on #15
@jyutzler @dstenger I'm still unsure about what is the scope of the test and what needs to be done. Can you please confirm and update the documentation as well as the welcome page that appears when executing the test. Thank you very much!

[2017-10-11 13:18] dstenger opened #16 "All tests are skipped if official test data are used"
I tried to validate official test data from http://www.geopackage.org/#sampledata via Web Browser Interface.

However, there are always all tests skipped.

For example, I used following data:
* http://www.geopackage.org/data/gdal_sample_v1.2_no_extensions.gpkg
* http://www.geopackage.org/data/sample1_2.gpkg

[2017-10-11 13:20] dstenger commented on #16
@jyutzler Can you please provide data which are passing the test suite? Do you know why all tests are skipped if official test data are used?

[2017-10-11 14:14] dstenger commented on #15
Working branch: https://github.com/lat-lon/ets-gpkg12/tree/updateDocumentationAndUi-15

[2017-10-11 15:22] dstenger commented on #15
Update start UI of Web Browser Interface: https://github.com/lat-lon/ets-gpkg12/commit/bcb8fee474fad46fa25fa8eff1d8c286e7421f5a
Set all GeoPackage version descriptions to 1.2: https://github.com/lat-lon/ets-gpkg12/commit/d4aef26bd6d90101dd30a29a6ee3822b1498ef99
Update site: https://github.com/lat-lon/ets-gpkg12/commit/f6d9e411d771bedcc5fbef53694875c54983a4b9
Update apidocs: https://github.com/lat-

[2017-10-11 15:29] dstenger commented on #15
![gpkg12-ui](https://user-images.githubusercontent.com/2989166/31450845-cec9758c-aeaa-11e7-9ea1-1cb9ffb62e1b.png)

[2017-10-11 15:31] dstenger commented on #15
@bermud @jyutzler
I uploaded a screenshot of the current status of start UI of Web Browser Interface.
Do you have any questions or comments?

[2017-10-11 16:56] jyutzler commented on #16
@dstenger If all tests are being skipped, then the test suite is not running on an actual GeoPackage. This means that something is mechanically wrong with the test suite - the intended test file is not being read.

The functions in this class file are called during the unit test process. You can see all of the GeoPackages that are validated. It includes files that pass all tests (0 as the second p

[2017-10-11 16:57] jyutzler commented on #15
This looks okay to me. Is there a place where we can see it in action?

[2017-10-12 15:01] dstenger commented on #16
The required conformance classes were not defined by web UI leading to execution of zero conformance classes.

Fixed with commit: https://github.com/lat-lon/ets-gpkg12/commit/d385ee0c7607e9716635368e7b97035cd0b40db5

Now, the examples from above can be validated with this test suite.

[2017-10-12 15:42] dstenger opened #17 "HTML report is not created with TEAM Engine 5.0 when using Web Browser Interface"
Instead, behaviour as described in https://github.com/opengeospatial/teamengine/issues/251 can be observed.

Can be reproduced on http://cite.opengeospatial.org/te2/ .

[2017-10-12 15:54] dstenger commented on #15
Thank you for confirmation!

We will install it on beta environment when following bug is solved: #17

[2017-10-12 15:59] dstenger commented on #15
Pull request was created: #18

[2017-10-23 13:43] keshavnangare commented on #17
@dstenger

HTML report is not generated due to testng-results.xml and earl-results.rdf file is not present in the log  directory.

If the earl-result.rdf file is not present in log directory then it will not generate HTML report.

[2017-10-23 14:03] lgoltz commented on #17
Should be fixed with https://github.com/opengeospatial/teamengine/pull/256

[2017-10-25 15:52] dstenger commented on #17
Fix for opengeospatial/teamengine#256 has been created.

Test with the branch containing the fix:

Start TEAM Engine and execute test suite via Web Browser Interface with http://www.geopackage.org/data/gdal_sample_v1.2_no_extensions.gpkg.

=> The old test result can be viewed making the test suite usable with Web Browser Interface again.

However, I am wondering why the new HTML report is not gene

[2017-10-26 18:50] jyutzler opened #23 "Fix Reference in Feature Test for data_values_geometry_type_name"
Ref: https://github.com/opengeospatial/geopackage/issues/390

[2017-10-27 10:17] keshavnangare commented on #17
@dstenger

The teamengine is not creating the new HTML report due to the absence of earl-results.rdf file in the session directory.

The gpkg12 test is creating  testng-results.xml and earl-results.rdf files in `$CATALINA_BASE\temp ` directory, when teamengine is trying to generate new HTML report from the earl-results.rdf and its not present in result directory then it will skip the HTML report.

[2017-10-27 14:41] #15 closed

[2017-10-27 14:43] #17 closed

[2017-10-27 19:56] jyutzler commented on #23
Opened in error.

[2017-10-27 19:56] #23 closed

[2017-10-30 07:47] #16 closed

[2017-10-30 08:06] dstenger opened #26 "Encoding Conformance Classes"
See http://opengeospatial.github.io/teamengine/encoding-conformance-classes.html

All basic conformance classes have to be identified and added to config.xml.

[2017-10-30 08:52] dstenger opened #27 "REST API: All tests are skipped"
Used set up:
* Tested geopackage: http://www.geopackage.org/data/gdal_sample_v1.2_no_extensions.gpkg
* REST call: [TEAMENGINE_WEBAPP]/rest/suites/gpkg12/0.2-SNAPSHOT/run?iut=http://www.geopackage.org/data/gdal_sample_v1.2_no_extensions.gpkg
* Tested formats: EARL and ZIP

In both formats, EARL and ZIP, execution is successful but all tests are skipped.
Expected: Several tests are passed instead of

[2017-10-30 19:42] jyutzler commented on #26
@dstenger can you provide an example of where this is done properly? I don't understand what you are asking me to do here.

[2017-10-30 19:56] jyutzler commented on #27
If I'm going to be able to help here, I need to know exactly how to reproduce the problem in a development environment. In general "all tests skipped" means there was no GeoPackage loaded. From my desk I can't tell why this might be the case because it obviously works in other settings including as a command line app and through the debugger.

[2017-10-31 11:55] keshavnangare commented on #27
Is there any other geopackage available?
So we can test with that whether same issue is occurring or not.

The teamengine webapp is also having this issue i.e. all tests are skipped.

Attached log:  [s0111.zip](https://github.com/opengeospatial/ets-gpkg12/files/1430551/s0111.zip)

[2017-10-31 12:07] keshavnangare commented on #26
@jyutzler

To identify the conformance classes in HTML report we need to add it in config,xml file of test-suite.

You can refer documentation link provided in first comment.

For example: ets-cat30 --> https://github.com/opengeospatial/ets-cat30/blob/master/src/main/config/teamengine/config.xml

see the element `"<BasicConformanceClasses>"`

[2017-10-31 15:44] jyutzler commented on #27
The ETS has been tested with at least 20 different GeoPackages including everything in https://github.com/opengeospatial/ets-gpkg12/tree/master/src/test/resources/gpkg via https://github.com/opengeospatial/ets-gpkg12/blob/master/src/test/java/org/opengis/cite/gpkg12/VerifyTestNGController.java
This test runs as part of the `mvn install` process so it must complete as expected for the build to be s

[2017-10-31 18:42] jyutzler commented on #27
BTW if you guys containerize the environment, it might make it easier for me to debug.

[2017-11-02 09:25] dstenger commented on #26
@jyutzler Thank you for the fix.

Did you put following line into the commit on purpose?
[code]

[2017-11-02 09:33] dstenger commented on #27
@jyutzler Yes, the other interfaces work. Just the REST API is not. So, the bug is definitively related to the interface and not to test implementation.
Regarding containerizing the environment: There is a Docker project to provide the test suite via Docker Image. Does this approach help you?
Keshav will do further investigation regarding this bug.

@keshav-nangare Please use tag 0.2 to reproduce

[2017-11-02 13:32] keshavnangare commented on #27
@dstenger

I am able to reproduce  this issue on my local environment and when we are executing the ets-gpkg12 with REST api its skipping all the tests and when executed through the webapp then there are some tests are passed.

I have investigated this issue and found the **`"ics"`** parameter as null in REST api context. Its working while using webapp because the `testRunArgs `are provided by CTL

[2017-11-03 11:18] dstenger commented on #27
@keshav-nangare Is there a way to enable all conformance classes as default setting?

[2017-11-06 14:13] jyutzler commented on #26
@dstenger Actually, no, that is an error. Fixed by #29.

[2017-11-06 14:13] #26 closed

[2017-11-10 11:32] keshavnangare commented on #27
@dstenger

This test-suite is not having the levels of conformance classes as similar into the cat30 or kml22..

These "level"(Integer) attribute is used in the CommonFixture class, if we are not passing this ICS parameter through the REST API then the default(i.e. lower) level is executed.

In gpkg12 test-suite we can define the ICS values in the class, if we get the ICS value as null through the

[2017-11-15 09:10] dstenger commented on #27
Can you solve this the same way as it is done in WFS 2.0 test suite?

If this is not possible, please add a comment here.

[2017-11-17 07:07] keshavnangare commented on #27
@dstenger

As per my findings its not possible to enable conformance classes in ets-gpkg12 as similar to wfs20.

[2017-11-17 14:02] dstenger opened #30 "jacoco-maven-plugin prevents output of maven-site-plugin if default lifecycle is executed"
jacoco-maven-plugin prevents output of maven-site-plugin if default lifecycle is executed.
E.g. ```mvn install```

In general, this is no problem as site lifecycle can still be used to build the sites.
E.g. ```mvn site```

Nevertheless, this behaviour stands in contradiction to all other test suites. There, the default lifecycle can be used to build the sites.

Thus, I removed the binding of execu

[2017-11-17 16:09] jyutzler commented on #30
@bradh Since you were the one who introduced jacoco into this ETS, can you answer these questions?

[2017-11-17 21:43] bradh commented on #30
I'm not seeing the failure (as of the branch configuration I submitted):
[code]
(See line "bolded" with ** at start and finish).

In terms of the questions:
 - No particular reason I recall. I probably just copied the entire stanza out of an older project (hence the old jacoco version) where I had some other reporting happening.
 - I am using the test coverage results (just in the development envi

[2017-11-20 07:42] dstenger commented on #30
Actually, the generation of the report is not failing but it prevents generation of general sites (via maven-site-plugin).

Thank you for answering the questions.

So, I conclude that commit https://github.com/opengeospatial/ets-gpkg12/commit/a3b8b1d079472ec1bea11523f91940b3773ba052 is fine and does not break anything (this commit fixes the conflict).

Thus, this issue can be closed.

[2017-11-20 07:42] #30 closed

[2017-11-22 09:11] dstenger commented on #27
This is the solution for the problem.

[2017-11-22 13:13] keshavnangare commented on #27
Fixed with this commit: 5640f979043672d8cefbd9da0bed5647128d1d0c

[2018-01-31 14:52] dstenger opened #37 "Review list of implemented conformance classes in test report and documentation"

[2018-01-31 15:07] bermud opened #38 "How do we know the version tested against?"
I understand that this test so works for 1.0. 1.1 and 1.2.  How those the test know which version is testing?

[2018-01-31 15:34] jyutzler commented on #38
The file reports its version. The test reads this version and tweaks the tests accordingly.

* http://www.geopackage.org/spec120/#_file_format
* http://www.geopackage.org/spec110/#_file_format
* http://www.geopackage.org/spec101/#_file_format

[2018-02-05 06:36] lgoltz commented on #4
@jyutzler Does the changes in #6 includes tests for features, tiles and metadata? In this case we can close the ticket.

[2018-02-06 11:49] lgoltz commented on #37
Configured CCs:
https://github.com/opengeospatial/ets-gpkg12/blob/27084850e436846e6811f363ce76db44d549aa8d/src/main/config/teamengine/config.xml#L15-L28

Tests configured in testng.xml
https://github.com/opengeospatial/ets-gpkg12/blob/27084850e436846e6811f363ce76db44d549aa8d/src/main/resources/org/opengis/cite/gpkg12/testng.xml#L13-L75

Documentation (site): https://github.com/opengeospatial/ets-g

[2018-02-06 11:59] lgoltz commented on #37
The configuration in the config.xml contains all test configured in the testng.xml.

It seems that the documentation is outdated, the CC  `Attributes` should be marked as implemented.

[2018-02-06 12:54] lgoltz commented on #37
From http://www.geopackage.org/spec120/#_core and http://www.geopackage.org/spec120/#_options I understand that only the conformance class `Core` is mandatory. I think all other conformance classes should be removed from https://github.com/opengeospatial/ets-gpkg12/blob/27084850e436846e6811f363ce76db44d549aa8d/src/main/config/teamengine/config.xml as  `Core` is the basic conformance class.

[2018-02-06 14:00] lgoltz commented on #37
Naming of the conformance classes could be improved (adapted to the [specification](http://www.geopackage.org/spec120/):
 * Extensions -> Extension Mechanism
 * Non-linear Geometries -> Non-Linear Geometry Types
 * RTree Index -> RTree Spatial Indexes
 * Webp -> Tiles Encoding WebP
 * CRS WKT -> WKT for Coordinate Reference Systems

[2018-02-07 21:29] jyutzler commented on #4
Yep.

[2018-02-07 21:29] #4 closed

[2018-02-09 22:56] bosborn opened #40 "Test Suite Revision 0.4"
Update the [GeoPackage version 1.2 Test Suite](http://cite.opengeospatial.org/te2/about/gpkg12/1.2/site/) to revision 0.4 with [the recent changes](https://github.com/opengeospatial/ets-gpkg12/compare/816929e...master?expand=1).  Also include pull request #39 so Attributes are tested.

Would like the updates pushed so GeoPackage test session results at http://cite.opengeospatial.org/te2 match mast

[2018-02-13 11:22] dstenger commented on #40
@bosborn Can you please create pull requests for all required changes?

An issue for the next release already exists (https://github.com/opengeospatial/te-releases/issues/214) and it will be created soon.

[2018-02-13 12:57] bosborn commented on #40
Other than the open #39 , the other changes have already been pulled in (#32 , #33, #34).  Closing since this is tracked in te-releases.

[2018-02-13 12:57] #40 closed

[2018-02-20 14:10] dstenger commented on #38
All questions are answered.

[2018-02-20 14:10] #38 closed

[2018-02-20 14:44] dstenger opened #41 "Define basic conformance classes"
All basic conformance class need to be passed to get an instance certified as GeoPackage compliant by CITE team.
@jyutzler Do you think that all conformance classes are important for certification?

Proposal in https://github.com/opengeospatial/ets-gpkg12/issues/37#issuecomment-363413431:
From http://www.geopackage.org/spec120/#_core and http://www.geopackage.org/spec120/#_options I understand tha

[2018-02-20 14:45] dstenger commented on #37
Proposal of https://github.com/opengeospatial/ets-gpkg12/issues/37#issuecomment-363413431 was moved to #41.

[2018-02-20 14:55] dstenger commented on #37
TODOs:
* Update naming of conformance classes (https://github.com/opengeospatial/ets-gpkg12/issues/37#issuecomment-363430274).
* ```Attributes``` conformance class must be added to several files:
  * Update documentation.
  * Update tests run by Web Browser Interface. Enhance/Modify: #39
  * Update default tests run by REST interface. Enhance/Modify: #31
  * Check configured basic conformance clas

[2018-02-21 13:15] dstenger commented on #27
@keshav-nangare Can you please update PR #31?

[2018-02-22 07:56] keshavnangare commented on #27
Updated the PR #31 as per suggestion.

[2018-02-22 13:40] #27 closed

[2018-02-22 14:32] lgoltz commented on #37
TODOs listed in https://github.com/opengeospatial/ets-gpkg12/issues/37#issuecomment-367002858 are implemented in #42:
 * Names of the CCs was updated as proposed in https://github.com/opengeospatial/ets-gpkg12/issues/37#issuecomment-363430274
 * Documentation was updated

Basic CC was not checked as this will be discussed in #41

[2018-02-22 15:32] #37 closed

[2018-02-26 11:35] dstenger commented on #41
Results must also be applied to https://github.com/opengeospatial/ets-gpkg12-nsg.

[2018-02-26 17:33] jyutzler commented on #41
This is a matter of OGC policy regarding encoding standards vs. implementation specifications. The following hasn't been vetted by the OAB or anyone else but I'm going to throw it out there.

I'm going to bring this up with the OAB in the interest of getting a formal policy we can follow.

[2018-02-27 11:16] dstenger commented on #41
Thank you for your input.

However, if we take a look at other specifications, conformance classes can also be implemented "not the standard way" and the service is still compliant to the basic conformance class.

Example: We take a look at WFS 2.0 and the optional Transactional WFS conformance class. A WFS 2.0 can be transactional by not following the standard 100% (tests of Transactional WFS con

[2018-02-27 17:10] jyutzler commented on #41
I have opened up an [OAB ticket](https://portal.opengeospatial.org/?m=projects&a=view&project_id=228&tab=5&act=details&issue_id=1227) and the OAB has agreed to address the issue on March 13.

[2018-03-15 10:11] lgoltz commented on #41
@jyutzler Can you summarize the results of the telco in relation to this ticket?

We need to find a solution for this ticket as soon as possible as the ETS should be deployed on production soon.

[2018-03-16 12:21] jyutzler commented on #41
Unfortunately the OAB response did not address this aspect of the issue. I think for now there is nothing we can do other than treat all parts of the standard as core. You can't indiscriminately violate any portion of the standard so it is all-or-nothing.

[2018-03-23 11:14] bermud opened #46 "Rename Tiled Gridded Elevation Data conformance class"
Remove 'Tiled Gridded Elevation Data' from the welcome page
http://cite.opengeospatial.org/te2/about/gpkg12/1.2/site/

[2018-03-26 12:09] dstenger commented on #46
According to https://github.com/opengeospatial/ets-gpkg12/pull/39 'Tiled Gridded Elevation Data' was kept in test suite.
What is the reason to remove it from welcome page?

@jyutzler
Can you provide further details?

[2018-03-26 13:03] dstenger commented on #46
'Tiled Gridded Elevation Data' is not approved by OGC TC, yet.

Tests can stay as they are right now, correct?

[2018-03-26 19:06] jyutzler commented on #46
Given that `Tiled Gridded` ~Elevation~ `Coverage Data` has been adopted by OGC as an official GeoPackage extension, there is no reason to remove it from the welcome page anymore.

[2018-03-26 21:02] bosborn commented on #46
It is a little confusing that `Tiled Gridded Elevation Data` is listed under `GeoPackage 1.2 Conformance Test Suite`.  GeoPackage 1.2 was approved on 2017-08-06 and Tiled Gridded Elevation Data on 2018-03-06.  Is `Tiled Gridded Elevation Data` being retroactively included in 1.2?  If so the tests need to be fixed [around here](https://github.com/opengeospatial/ets-gpkg12/blob/02ba0439a4d060c6cb036

[2018-03-26 21:04] bosborn commented on #46
Sorry... it is `Tiled Gridded Coverage Data` that was recently approved.  I thought `Tiled Gridded Elevation Data` was pulled out last minute from being a 1.2 release.
http://geopackage.blogspot.com/2017/05/good-news-bad-news.html
http://www.opengeospatial.org/blog/2593

[2018-03-27 00:56] jyutzler commented on #46
It looks like this is still generating some confusion. I suppose a blog post is in order.

[2018-03-27 07:11] dstenger commented on #46
Current status of this issue: ```Tiled Gridded Elevation Data``` must be renamed to ```Tiled Gridded Coverage Data```.
This applies to TestNG configuration and documentation.
Issue was renamed.

[2018-04-05 10:10] lgoltz commented on #46
Renamed conformance class, renamed package and test class and updated JavaDoc. PR: #48

JavaDoc of test `requiredSRSReferences` should be rechecked (I could not find a test case with ID `/opt/extensions/elevation/srs/required_references` in http://docs.opengeospatial.org/is/17-066r1/17-066r1.html)

[2018-04-11 13:07] lgoltz opened #51 "Review test requiredSRSReferences"
see
 * https://github.com/opengeospatial/ets-gpkg12/pull/48#issuecomment-378926795
 * https://github.com/opengeospatial/ets-gpkg12/pull/48#issuecomment-378954992

[2018-04-11 13:08] #46 closed

[2018-04-11 13:16] #41 closed

[2018-04-16 03:24] jyutzler opened #52 "ETS fails on poorly named contents tables"
If someone naively names a content table something like `0`, most of the tests will break because `SELECT * FROM 0` is not valid SQL - the `0` needs to be escaped like `select * from '0'`. We need to sweep through the entire ETS to eliminate instances of unescaped table names.

[2018-04-16 07:34] dstenger commented on #52
@jyutzler Do have example data to reproduce this behaviour?
@keshav-nangare Can you please create a fix for that?

[2018-04-16 13:29] jyutzler commented on #52
@dstenger I do have an example. I also intend to produce a fix today. This fix will include the test case.

[2018-04-16 13:32] dstenger commented on #52
Thank you!
@keshav-nangare Please wait for the fix of jyutzler.

[2018-04-16 19:54] jyutzler opened #54 "Report version of file"
As part of the test process, the tool should report what GeoPackage version the test file is.

This is a feature request we got during the TC.

[2018-04-18 17:38] jyutzler commented on #51
See #55.

[2018-05-08 11:46] dstenger opened #56 "Remove big files from repository and commit history"
Currently, there are two files > 50 MB in repository or commit history. GitHub throws are warning for those files [1] and thus they should be removed.

Affected files:
* haiti-vectors-split.gpkg
* imagery-0.gpkg

E.g. following tool can be used (tool must be tested first): https://rtyley.github.io/bfg-repo-cleaner/

[1] https://help.github.com/articles/conditions-for-large-files/

[2018-05-08 12:04] #52 closed

[2018-05-15 20:52] ajanett opened #57 "RTreeIndex Tests Failure"
The Requirement 77 tests, RTreeIndexTests fail consistently in the virtual table test and in the test for update 4. This is due to incorrect regular expression definitions:
- The virtual table test requires additional backslash characters prior to " in order to properly escape it.
- The virtual table test should account for additional spaces, or the use of a single quote rather than double quotes.

[2018-05-16 00:08] ajanett commented on #57
Additionally, the triggers using "INSERT OR REPLACE INTO" cannot be performed and these are also going to fail all of the time. The specification has some strange coloration on these statements possibly indicating a small "or", meaning these should be either INSERT INTO or REPLACE INTO. Typically one will see "INSERT INTO".

[2018-05-16 08:34] dstenger commented on #57
Thank you for reporting.

@jyutzler Can you please do further investigations?

[2018-05-16 15:04] jyutzler commented on #57
@ajanett

Do you have a test file that demonstrates the problem? I have not seen this issue in any of the files that have been provided to this point.

I am also not clear if this a problem with the ETS or the standard. If the problem is in the standard, it needs to be posted to https://github.com/opengeospatial/geopackage.

[2018-05-21 01:22] jyutzler commented on #56
I don't want `haiti-vectors-split.gpkg` removed unless suitable replacements can be made. 60MB is not that big a deal in the grand scheme of things.

[2018-05-22 07:58] dstenger commented on #56
Then, we can close this issue for now.

However, we should try to not add any files bigger than 50 MB.

[2018-05-22 07:58] #56 closed

[2018-05-22 13:23] bermud opened #58 "Update documentation to explain how 1.1 and 1.0 are supported"
If 1.2 also supports 1.1 ad 1.0 we should update the documentation about how to execute a test for 1.1. and 1.0. Then we can remove the 1.0 ETS https://github.com/opengeospatial/ets-gpkg10/.

[2018-05-22 13:43] jyutzler commented on #58
Once the 1.2 test is official, the 1.0 test should be removed.

There are no documentation updates required to execute the test for 1.0/1.1. The test will automatically detect which version of GeoPackage is in effect in that file and adjust the tests accordingly. However, as per #54 the test does not currently report that file version in the output.

[2018-05-22 20:17] ajanett opened #59 "Feature Tests Being Skipped & Constraints Errors"
With the current version "0.7-SNAPSHOT" of 0.6, all feature tests are being SKIPPED on all of the geopackages that I try it on.

For example, this geopackage:
https://portal.opengeospatial.org/files/?artifact_id=78819

Does not report any errors; it passes 19 core tests, 5 extension tests, 7 metadata tests and then skips everything else including all features tests.

I have attached two small geop

[2018-05-22 20:20] ajanett commented on #57
It appears the more recent revisions of the source have corrected the issues I was seeing so far.

[2018-05-22 20:20] #57 closed

[2018-05-22 21:46] ajanett opened #60 "The spatial issue revisited"
The GeoPackage Tests that may need to delve into the geometry blob include those for requirements 12-128r14 19, 20, 32, 33, 67, 78 and also NSG Requirement 19B. For the most part, these include evaluation of geometry spatial reference, geometry type, envelope min/max. Requirement 66, then goes even more in-depth into the entire WKB.

The issue discussed before:
Is there a need for the spatialite e

[2018-05-22 21:57] ajanett opened #61 "Performance when visiting all feature instances"
In order to accomplish tests 12-128r14 19, 20, 32, 33, 67, 78 and also NSG Requirement 19B, we have to look at each feature instance, and examine the geometry blob for each one. Well, performance for this is a bit of a problem. The tests can run for a loooong time in a geodatabase having a substantial number of feature instances, and there simply is not much being reported to let an operator know

[2018-05-23 10:06] dstenger commented on #59
Thank you for reporting.

I executed the on beta web site [1] as the installed revision of the test suite is currently equal to 0.7-SNAPSHOT.

**feature tests**

For both example files all feature tests are executed. How did you set up your TEAM Engine instance?

**schema tests**

@jyutzler Can you explain why schema tests are executed for those files?

[1] http://cite.opengeospatial.org/te2/

[2018-05-23 11:17] dstenger commented on #60
Thank you! You are welcome to create a pull request as soon as you are finished with testing.

[2018-05-23 11:19] dstenger commented on #61
Thank you for the feedback.

@jyutzler What are your thoughts about this?

[2018-05-23 13:51] jyutzler commented on #61
The idea certainly has merit but I don't know the right way to do this within the current architecture.

[2018-05-23 17:19] ajanett commented on #59
I am using TEAM Engine 5.2 in both a standalone mode and with Tomcat 7.0.X.  Perhaps there is a dependency on TEAM Engine 5.3?

[2018-05-23 18:12] ajanett commented on #59
Updated to current TEAM Engine and now features tests are being run.  In comparing the results from yesterday to today, the code within the current ets-gpkg12 (0.7 SNAPSHOT) and version 0.6 of Features; something within SetUp method for features is apparently incompatible with TEAM Engine 5.2.  The "Conformance class" for features fails and then all tests are disabled.

[2018-05-24 08:51] dstenger commented on #59
No, the test suite should work with both, TEAM Engine 5.2 and 5.3. There is no (new) dependency to any TEAM Engine functionalities.

However, good to hear that it is working now.

[2018-05-31 16:12] #59 closed

[2018-06-06 22:09] jyutzler opened #63 "ETS does not permit views"
In version 1.2.1, we updated some of the requirements to be more permissive regarding views. It should be valid to have a view that joins a contents table with some other table and have that be its own entry in gpkg_contents. Currently it fails because the table does not have a primary key, but it is not possible for a view to have a primary key in SQLite.

[2018-06-12 23:08] ajanett opened #64 "Failure due to space in filename"
The GeoPackage specification has no limitations on characters in filenames and does not state that spaces are not allowed. The only requirement is 'A GeoPackage SHALL have the  file extension name ".gpkg".'.  In the case that a geopackage has the .gpkg extension, but a space in the name, the ETS fails with an immediate Fatal Error in calling an extension function which eventually tells us there is

[2018-06-13 03:00] jyutzler commented on #64
Now that the TC is behind me, I'm looking at a sprint on the ETS. I will take a look at this and other ETS issues.

[2018-06-13 13:38] jyutzler commented on #64
This must be a TEAM engine problem. PR #65 does not duplicate the issue. I am unassigning myself.

[2018-06-13 13:41] dstenger commented on #64
@keshav-nangare Can you please do further investigation and create a TEAM Engine issue in case it is related to it?

[2018-06-14 13:08] keshavnangare commented on #64
Fixed with this commit: 11c912d0a3dd370f80ec4ac0b3d77d4f8fcbea9d [PR: #64]

[2018-06-20 16:42] dstenger commented on #64
Fix did not work and merged branch was reverted: https://github.com/opengeospatial/ets-gpkg12/pull/66#issuecomment-398817279

[2018-06-21 14:18] keshavnangare commented on #64
Fixed this issue with commit: ed41f4c

Tested the fix with following data:
1. [emp ty.gpkg](https://github.com/opengeospatial/ets-gpkg12/raw/master/src/test/resources/gpkg/emp%20ty.gpkg)

2. [bluemarble.gpkg](https://github.com/opengeospatial/ets-gpkg12/raw/master/src/test/resources/gpkg/bluemarble.gpkg)

[2018-06-22 14:23] jyutzler commented on #61
Note that as part of #70 I reduced some file sizes so that our own unit tests would complete faster.

[2018-06-22 14:23] jyutzler commented on #60
Are we satisfied with #70 (which includes #62)?

[2018-06-22 17:29] #60 closed

[2018-06-22 17:38] jyutzler commented on #63
Fixed through #71

[2018-06-22 17:38] #63 closed

[2018-06-22 17:39] jyutzler commented on #51
Fixed by #55

[2018-06-22 17:39] #51 closed

[2018-06-22 17:45] jyutzler opened #72 "Report warnings"
In a few places, we want to report warnings. It is unclear to me how to do this through the interface.
* [ ] [Broken RTree trigger](https://github.com/opengeospatial/geopackage/issues/414)
* [ ] If accepted, [require extents for feature tables](https://github.com/opengeospatial/geopackage/pull/450#issuecomment-398850235)

[2018-06-26 10:41] dstenger opened #74 "Testing of large files takes a long time"
This issue occurs with the current status of master branch.

Testing of large files takes a very long time.

E.g. with version 0.6, a GeoPackage file of size 700 MB can be tested in around 3 Minutes.
With current version of master branch, testing a GeoPackage file of size 700 MB takes more than 1 hour (I cancelled the test run after 1 hour).

What is the reason for this behaviour?
This makes testi

[2018-06-26 12:37] jyutzler commented on #74
This is due to the new geometry tests built by @ajanett in #62. Yes, this takes a long time. What do you suggest we do about it?

[2018-06-26 13:54] lgoltz commented on #74
@ajanett Can you explain why the test needs so long? What are your suggestions?

[2018-06-26 14:52] ajanett commented on #74
See issue #61. The ETS code is now visiting each and every feature instance and examining the geometry BLOB of each one. Yes, this can take a long time, even in a not so large GeoPackage. I don't like the time it is taking but I've looked at the implementation options and it currently is as good as it'll get given the ETS framework. All of the tests that are doing this into one code block in order

[2018-06-26 19:03] ajanett commented on #74
There are 2 tests we could remove (or comment out) that are likely taking the most time: 78 (which the requirement for 78 was removed), and 67 which is testing an extension requirement.  This will only help a little bit, but since these two involve additional SQL statements, I expect removal of these would provide the maximum relief.

It sure would be nice if TEAM Engine at least gave us some feed

[2018-06-27 10:44] lgoltz opened #75 "Test setupVersion is executed multiple times"
once for each class extending CommonFixture as the test if implemented there.

The test should be moved to a separate class.

[2018-06-28 08:57] dstenger opened #76 "Several tests are executed multiple times"
I recognized that several tests are executed multiple times.

All tests in ```Tiles``` conformance class are also executed in
* ```Tiled Gridded Coverage Data```
* ```Tiles Encoding WebP```

All tests in ```Features``` conformance class are also executed in
* ```Non-Linear Geometry Types```

The reason for this behaviour is that classes ```WebPTests```and ```TiledGriddedCoverageTests``` extend ```

[2018-06-28 09:20] dstenger commented on #74
I am in favour of creating an option (e.g. extended geometry validation) which activates full validation of geometries.
If this option is not activated, limited validation is executed (e.g. not all geometries are validated).

[2018-06-28 16:09] jyutzler commented on #74
@dstenger Please specify how you want this option added to the system. I do not know enough about the Team Engine to know what you need here. Once it is specified, I will attempt to implement it.

[2018-06-29 14:49] jyutzler commented on #76
This can be accomplished by adding some abstract classes. See #77.

* [x] ```Tiled Gridded Coverage Data```
* [x] ```Tiles Encoding WebP```
* [x] ```Non-Linear Geometry Types```

[2018-06-29 15:29] jyutzler commented on #75
Fixing as part of #77

[2018-07-02 13:40] bermud commented on #74
I suggest to:
1- (default and can be use for certification) test the first one found for each feature type
2- add a parameter (option) that allows to do the full geometry validation

[2018-07-03 14:20] dstenger opened #78 "No requirement can be found for test "feature S R Sconsistency""
Test: https://github.com/opengeospatial/ets-gpkg12/blob/477026324c88313316275fd19d74014be164641d/src/main/java/org/opengis/cite/gpkg12/features/FeaturesTests.java#L304-L361

Test fails because the results of two sql statements are not equal (first if):
 * SELECT count(*) as ggcCount FROM 'gpkg_geometry_columns';
   * returns 68
 * SELECT count(*) as ggcCount FROM 'gpkg_contents' WHERE data_type =

[2018-07-03 14:23] jyutzler commented on #78
What is the test file that reproduces the false-positive?
BTW, this test was added as part of https://github.com/opengeospatial/ets-gpkg12/commit/acbf3c57280b9f65f29b0a8bc63125f4e0635330#diff-cd87833e776c4a923a7e470580031367

[2018-07-11 03:25] ajanett commented on #78
Since this test is not in the current spec, it is only implied by requirement 13; and due to the fact that the test is being added to the upcoming specification, I recommend that this version of the test be removed at this time until it can be added for the upcoming specification.

[2018-07-13 12:37] dstenger commented on #74
A quick fix solves the problem temporarily: https://github.com/opengeospatial/ets-gpkg12/commit/ab9eb29c9c107d9540fbfef137c29d00badc92c1

However, a clean solution should be implemented as soon as possible.

[2018-07-13 13:15] dstenger commented on #76
PR #77 solves the problem. A functional test was executed.

[2018-07-13 13:15] #76 closed

[2018-07-13 13:26] dstenger commented on #75
#77 does not change the behaviour regarding this issue.

Test setupVersion is still executed in each conformance class.

In addition,
test ```feature Geometry Columns Data Values Geometry Type``` is executed in CCs ```Features ``` and ```Non-Linear Geometry Types ``` (2 times in total) and
test ```image Format``` is executed in CCs ```Tiles```, ```Tiles Encoding WebP``` and ```Tiled Gridded Covera

[2018-07-13 15:31] ajanett commented on #74
I believe the fix needs to change the initial SQL statement in featureGeometryEncodingTesting(), adding the LIMIT clause when we want to restrict the test to a certain number of records, because then we wouldn't be fetching an excessive number of records.

[2018-08-20 08:05] lgoltz commented on #58
I've added a hint to the support of 1.1 and 1.0 at the README: https://github.com/opengeospatial/ets-gpkg12/commit/bf398ceea6aef4316f631487978cc5413ce36bf0

The information is already available on http://opengeospatial.github.io/ets-gpkg12/ as well as the entry point of the test (TEAM Engine Web GUI).

[2018-08-20 08:05] #58 closed

[2018-08-20 08:12] lgoltz commented on #72
Currently it is only possible to pass, fail or skip a test.

Warnings can be logged only in the application log.

[2018-08-20 11:38] lgoltz commented on #78
@ajanett, @jyutzler
Shall we remove the test completely or implement Requirement 13 as it is specified in 1.2?

[2018-08-20 17:49] jyutzler commented on #78
@lgoltz I do not feel comfortable answering this question until I can see a proper test case. Without it, I can't envision how we can go wrong.

[2018-08-23 11:05] dstenger opened #81 "Introduce Dockerfile and Maven Docker plugin"
https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2018-08-23 11:32] dstenger commented on #81
Was committed to master branch.

Build Docker Image:
* ```mvn clean install -Pdocker```
* -> Docker Image with Name ```opengeospatial/ets-gpgk12``` is created.

Build Docker Image and create and start Docker container:
* ```mvn clean install docker:run -Pdocker```
* -> Test suite can be accessed via http://localhost:8081/teamengine

[2018-08-23 12:16] lgoltz commented on #81
Works fine!

[2018-08-23 12:16] #81 closed

[2018-08-23 12:54] lgoltz commented on #78
@jyutzler The test fails with https://hawk.compusult.net/ogc/PR_GGDM_3.0_Profile_File_Geodatabase.gpkg

[2018-08-23 14:39] dstenger commented on #75
# Functional test

Test
```setupVersion``` renamed to ```geopackageVersion```
is just executed once.

Though, tests ```feature Geometry Columns Data Values Geometry Type``` and ```image Format``` are still executed multiple times.

[2018-08-23 14:46] dstenger opened #82 "Tests "feature Geometry Columns Data Values Geometry Type" and "image Format" are executed multiple times"
Tests ```feature Geometry Columns Data Values Geometry Type``` is executed in CCs ```Features ``` and ```Non-Linear Geometry Types ``` (2 times in total) and
test ```image Format``` is executed in CCs ```Tiles```, ```Tiles Encoding WebP``` and ```Tiled Gridded Coverage Data``` (3 times in total).

Also see #75.

[2018-08-23 14:47] dstenger commented on #75
Behaviour was documented in #82.

[2018-08-23 14:47] #75 closed

[2018-08-23 15:01] ajanett opened #83 "Fortify Scan Issues"
Fortify Scan issues are present in this test package. I will submit a pull request with corrections shortly.

Details:
ets-gpkg12-0.7 Release

CWE ID 022  - External input in the construction of a pathname that is not verified.
TestNGController.java line 80
TestRunArguments.java line 42

CDW ID 089 - SQL Injection due to use of external components in the creation of the SQL command that are not ve

[2018-09-26 22:03] ajanett commented on #78
The issue is that since srs_id is held in both gpkg_contents and gpkg_geometry_columns, it is possible for data integrity issues to occur.

The test is to ensure that for each table_name within gpkg_contents, verify that srs_id is consistent between gpkg_contents and gpkg_geometry_columns.

A better SQL for this test for the FEATURES is:
SELECT gpkg_geometry_columns.table_name, gpkg_geometry_colum

[2018-09-28 20:15] ajanett commented on #78
Requirement 146 was added to the specification to specifically address this issue and I believe that requirement is also coded into the ets-gpkg20. Therefore the FeatureSRSConsistency method may be removed and this issue can be closed.

[2019-02-21 21:44] rouault opened #86 "NullPointerException on CRSWKT.tableDefinition test"
On the attached GeoPackage [uint16.gpkg.zip](https://github.com/opengeospatial/ets-gpkg12/files/2891396/uint16.gpkg.zip), the ETS 1.2 fails with
[code]

As far as I can tell, the definition of gpkg_spatial_ref_sys is correct with the following DDL
[code]

[2019-02-25 14:16] dstenger commented on #86
@jyutzler Can you please take a look at the reported problem?

[2019-03-12 15:49] jyutzler commented on #86
@rouault According to http://www.geopackage.org/spec121/#gpkg_spatial_ref_sys_cols_crs_wkt if you are using this extension, you need to add default values to your definition columns. Meanwhile, this pull request eliminates the NPE that was triggered when these values are `null`.

[2019-03-12 16:06] rouault commented on #86
Oh I missed that. Thanks !

[2019-03-12 16:22] bosborn commented on #86
Those defaults were [removed in the current working 1.3 draft](http://www.geopackage.org/spec/#gpkg_spatial_ref_sys_cols_crs_wkt).
Should these tests be future looking by allowing 1.2 and current draft support?

Adding the non nullable <code>definition_12_063</code> column to an existing <code>gpkg_spatial_ref_sys</code> table with entries will require a default value.  I assume that default value

[2019-03-12 16:48] jyutzler commented on #86
Aah, you're right. I totally forgot about that. (Thank you for keeping me honest!) I removed the test entirely in https://github.com/opengeospatial/ets-gpkg12/pull/87/commits/3d78307a72e3290c5111c7a58454d01646e468bf.

The rule is that you have to have at least one definition populated but in theory there are some SRSs that cannot be adequately defined using 12-063. I don't actually know of any but

[2019-03-12 17:00] bosborn commented on #86
Sounds good, thanks.

So a <code>gpkg_spatial_ref_sys</code> initially created with the crs wkt extension may not have a default value.

If the crs wkt extension is added to an existing <code>gpkg_spatial_ref_sys</code> table, an undefined default value is required ('', 'undefined', etc) for [sqlite](https://www.sqlite.org/lang_altertable.html).
[code]

And due to the sqlite alter limitations, the

[2019-03-12 17:15] bosborn commented on #86
Now that the defaults are gone, it might be worth considering changing the <code> definition_12_063</code> column to be a nullable field.

If the crs wkt extension exists, check if a SRS has a non null <code>definition_12_063</code> value to use.  If the crs wkt extension does not exist or has a null or unparseable <code>definition_12_063</code> value, default to the <code>definition</code> value.

[2019-03-12 17:30] jyutzler commented on #86
Well, we could make the column nullable, but we conventionally use `undefined` for that. As we've seen with this ticket, unexpected `null`s in places can make things break and that is something we want to avoid.

[2019-04-12 12:33] dstenger commented on #86
@keshav-nangare Can you please do a technical review of this fix (including a test of test suite)?

[2019-04-23 16:11] keshavnangare commented on #86
@dstenger

According to spec the changes are fine and tested successfully with the local docker environment. The test "`table Definition`" passed successfully.

[2019-04-24 08:20] #86 closed

[2019-04-24 08:29] lgoltz opened #88 "Introduce Dockerfile and Maven Docker plugin"
https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2019-04-24 08:30] lgoltz opened #89 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-SoapUI

[2019-04-24 08:32] #88 closed

[2019-04-24 08:54] lgoltz commented on #82
The tests have the same name but tests different requirements.

[2019-08-25 02:11] jyutzler opened #90 "Add tests for Related Tables Extension"
Now that the [Related Tables Extension](http://docs.opengeospatial.org/is/18-000/18-000.html) has been adopted by OGC, the ETS needs to be updated to include tests for it.

[2019-09-12 09:56] keshavnangare commented on #89
Fixed with this commit: b92fb08893bea5f8cd29f53709301c66f7ed786d & PR: #92.

The test suite is getting skipped when tested with these resources(from reference implementation page): https://demo.luciad.com/GeoPackageData/

So the changes are tested with the local .gpkg file.

[2019-10-10 15:18] jyutzler opened #93 "A `-` in the table name breaks the ETS"
The ETS is vulnerable to dubious identifier names. For example, in TableVerifier.java L54, we have the following prepared statement.

`        try(final PreparedStatement statement = connection.prepareStatement("SELECT sql FROM sqlite_master WHERE (type = 'table' OR type = 'view') AND tbl_name = ?;"))`

Most of the time, this works fine but I recently found a GPKG with a table with a `-` in its na

[2019-10-16 09:46] dstenger commented on #93
@keshav-nangare Can you please take a look at this?

[2019-10-19 15:48] keshavnangare commented on #93
@jyutzler

Do you have any `.gpkg` file which I can use for testing?

[2019-10-19 15:56] jyutzler commented on #93
Not really. The problem is easily duplicated, but since I do not know how pervasive the problem is, I am reluctant to provide a file which might or might not address all of the failure points.

You can take any GeoPackage, pick a table from gpkg_contents, and issue:
`create table "table-with-dash" as select * from your_table`

Copy the relevant row from gpkg_contents (replacing the table_name) and

[2019-10-19 16:01] keshavnangare commented on #93
Ok. Thanks for the inputs.

[2020-01-07 16:31] dstenger commented on #89
`mvn clean install -Pintegration-tests` now runs successful.

[2020-01-07 16:31] #89 closed

[2020-01-13 14:00] heidivanparys opened #95 "Typo in org.opengis.cite.gpkg12.extensions.crswkt.CRSWKT.tableDefinition()"
There is a recurring typo in Typo in org.opengis.cite.gpkg12.extensions.crswkt.CRSWKT.tableDefinition(): the constructed error messages contain "definition_16_063" instead of "definition_12_063". These error messages are shown in the OGC validator:

![image](https://user-images.githubusercontent.com/11427611/72261523-4a7adb00-3615-11ea-96e4-a4cb4526f0ad.png)

(this particular error message is from

[2020-01-14 13:21] dstenger commented on #95
Thank you for providing the pull request.

[2020-03-06 09:40] keshavnangare commented on #93
@dstenger

I am able to reproduce the issue on local environment with the following workaround:

1. Used test resource gpkg file(e.g. sample1_0.gpkg).
2. Alter the existing table name(`counties`) to `count-ies`.
3.  Executed test suite but multiple tests were failed.
4. I went through the failed tests and accordingly I have updated references of table which are present in other tables.
5. Got fail

[2020-03-06 12:15] keshavnangare commented on #93
@jyutzler

Fixed with #97 PR.
Can you test it?

[2020-03-06 18:16] ollewis opened #98 "Failed tests with disabled conformance classes."
The `validateClassEnabled` test methods are failing for every conformance class not being implemented even when the conformance class is not specified within the ics test run argument.

For example, if a GeoPackage only implements the Features conformance class, running the ETS with the following test run argument: `<entry key="ics">Core,Features</entry>`, will result in `validateClassEnabled` fai

[2020-03-09 09:30] dstenger commented on #98
Thank you for reporting.
@keshav-nangare Can you please analyze the reported behavior?

[2020-03-09 20:49] ollewis opened #99 "Req. 78 is still being enforced"
Requirement 78 seems to be deprecated as of [OGC 12-128r14](http://www.geopackage.org/spec120/index.html#extension_rtree); however, the most recent version of the ETS is still enforcing this requirement.

If it helps, [here is the issue](https://github.com/opengeospatial/geopackage/issues/341) that I believe should of addressed this change.

I've also linked the portion of code that is currently t

[2020-03-10 11:02] dstenger commented on #99
Thank you for reporting. We will do further investigation.

[2020-03-11 10:44] keshavnangare commented on #98
The current behavior of the ets is as follows:
- If ICS parameter is not set then it will execute all the conformance classes by default.
- If ICS parameter is set then it will execute only that conformance classes and skipping other classes.

@dstenger
I think this behavior could be expected as it's skipping the conformance classes, not impacting the whole test result. What is your thought on thi

[2020-03-16 07:09] keshavnangare commented on #99
@dstenger

I have referred documentation and found that requirement 78 is deprecated but it is still used in the test. Should I remove it?

[2020-03-16 13:10] jyutzler commented on #99
Yes.

[2020-03-16 13:40] keshavnangare commented on #99
Fixed with #100 PR.

[2020-03-18 09:37] dstenger commented on #98
The overall result of `ics_CoreFeatures.xml` looks fine: `<testng-results skipped="65" failed="1" total="97" passed="31">`.

@ollewis Does this answer your question? Are there any open questions?

@keshav-nangare Can you please improve the error message?

[2020-03-18 17:26] ollewis commented on #98
@dstenger The main reason I'm questioning the intended behaviour is because I find that having a test fail for a reason that is unrelated to a GeoPackage not conforming with the specification, or the data within the GeoPackage being invalid, is not intuitive.

My thinking is that a GeoPackage may be 100% valid but if not all conformance classes were implemented there will still be failed tests. An

[2020-03-19 13:17] dstenger commented on #98
Thank you for the input.
However, the method is not marked as a test (`@Test`) but with `@BeforeClass`. This means that TestNG does not consider this method as a real test but as a pre-check. Thus, the implementation is fine in consideration of logic of TestNG framework.

[2020-03-19 16:10] keshavnangare commented on #98
@dstenger

I have improved the message in AttributTest.java with #101  PR. I found it is present in other conformance classes methods.
Should I update it in all tests?

[2020-03-19 16:34] dstenger commented on #98
Yes, please update all tests.

[2020-03-19 20:57] ollewis commented on #98
That makes sense to me now. Thank you for the help!

[2020-03-20 08:17] keshavnangare commented on #98
I have updated the error message in the remaining files.

[2020-04-01 06:53] jratike80 commented on #99
The change into the standard was introduced in
https://github.com/opengeospatial/geopackage/commit/f2482abcc42a96b87dfd4970f9a1a08f493fc9b5#diff-c1aba1c1e37494be8225c64af76beb82

Commit includes a note about the RTree envelope vs. feature envelope test.

[2020-04-01 07:28] jratike80 opened #102 "Standalone jar requires net connection even for local GeoPackage"
The standalone jar file cannot be used for testing a local GeoPackage with a default test-run-props.xml file if there is no network connection. The reason is this reference in the props file
`<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">`

Offline check succeeds by downloading the DTD into local file system and changing the reference
`<!DOCTYPE properties SYSTEM "file:///C:

[2020-04-06 13:12] dstenger commented on #102
Thank you for the hint!

Alternatively, the properties.dtd could be copied to the source code repository so that the test suite will always use the local copy instead of the online resource.
What do you think about that approach?

However, as far as I know, it was never a requirement that the test suite also runs offline. So, there might also be other resources being referenced remotely.

[2020-04-06 16:16] jratike80 commented on #102
By looking at the list of test suites https://cite.opengeospatial.org/teamengine/ the GeoPackage test is probably the only one that can be run offline. However, server administrators do not like to open holes into the firewall and they would appreciate if they knew the trick to run the GPKG tests locally. Of course they have another good option in the GDAL Python script https://github.com/OSGeo/gd

[2020-04-07 12:10] dstenger commented on #102
Then, it might be a good idea to remove the only existing online resource and to replace it with a local resource. By that, the test suite can be executed offline without any problems.

[2020-04-13 07:47] keshavnangare commented on #102
Following is my workaround:
[1] `<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">`

[2] `<!DOCTYPE properties SYSTEM "C:\properties.dtd">`

I am unable to build test-suite normally with reference [2] in test-run-props.xml because JUnit test cases are getting failed with below exception:
[code]
The reason of above failure is loadXMLFrom method of Properties class in the followi

[2020-04-16 14:21] keshavnangare commented on #102
@dstenger
Following are the fixes of the issue:

1. Check whether we can use relative path to avoid the use of an absolute path:

    We can use the relative path to point local properties.dtd file and able to run the test. We can see the below snippet which will use the dtd file from the test project resource directory.

    `<!DOCTYPE root-name SYSTEM "./org/opengis/cite/gpkg12/dtd/properties.dt

[2020-04-16 14:27] keshavnangare commented on #102
Fixed with this PR #103.

[2020-05-06 15:32] keshavnangare commented on #83
Fixed with #105 PR.

[2020-08-02 09:41] rouault opened #106 "Test method featureGeometryEncodingTesting fail on null geometries"
The attached log [s0022.zip](https://github.com/opengeospatial/ets-gpkg12/files/5011910/s0022.zip) of the GeoPackage 1.2 test suite on https://cite.opengeospatial.org/te2/  shows that feature tables that contain NULL geometries (reproducer file new_geopackage.gpkg is included in the zip) cause the following failure:
[code]

This failure is likely a false positive (due to comment "// We must allow

[2020-08-03 09:10] dstenger commented on #106
Thank you for reporting. We will take a look at the reported behavior.

[2020-08-07 23:54] jyutzler opened #107 "Relocate "commons-io" in pom"
We need to update our pom.xml

[INFO] Reading assembly descriptor: /Users/JeffYutzler/projects/ets-gpkg12/src/assembly/aio.xml
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-io/1.3.2/commons-io-1.3.2.jar
Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-io/1.3.2/commons-io-1.3.2.jar (88 kB at 316 kB/s)
[WARNING] Whil

[2020-08-08 02:29] jyutzler commented on #78
My assessment is that the check comparing the row counts of `gpkg_data_columns` to row counts of `gpkg_contents` where datatype="features" is invalid because there may be extensions that use `gpkg_data_columns` with a different datatype.

This test file is a bit big to add to the ETS so I will reproduce the issue elsewhere.

Since there is already a test for R146 at FeaturesTests.featureGeometryCo

[2020-08-19 07:21] keshavnangare commented on #78
@dstenger

 We are fine with the solution and changes are successfully tested on the local environment.

[2020-08-19 07:48] keshavnangare commented on #107
@dstenger

We are good with changes and tested successfully on local environment.

[2020-08-19 07:49] keshavnangare commented on #106
@dstenger

The changes are fine and tested successfully on local environment.

[2020-08-19 08:15] #78 closed

[2020-08-19 08:15] #107 closed

[2020-08-20 06:15] keshavnangare commented on #106
@dstenger

I have taken the latest pull and tested the changes on local environment successfully.

[2020-10-10 10:59] keshav-nangare opened #111 "Cleanup dependencies"
When running `mvn org.apache.maven.plugins:maven-dependency-plugin:analyze`, I get following warnings:
[code]
All used undeclared compile dependencies shall be declared in Maven pom file.
All unused declared dependencies shall be removed from Maven pom file.

[2020-10-12 08:47] keshavnangare commented on #111
I have added used undeclared dependencies and removed unused declared dependencies except for the following dependency.
1. `com.google.inject:guice` is inherited from the parent and unable to exclude it.

Please find changes in #112 PR.

[2020-11-17 16:55] jyutzler commented on #72
I'd like to escalate this. The inability to post a warning has a significant impact in our ability to inform the users of these tests.

[2020-11-17 17:02] ghobona commented on #72
@keshav-nangare  @dstenger  There is a log.xml file that is generated by each ETS. Could we use that to log warnings into?

[2020-11-20 10:54] dstenger commented on #72
If we write the warning into the log file it is probably hard for non-technical users to find them.

@jyutzler What is the exact purpose of the warnings? Shall they be displayed in the HTML report?

[2020-11-20 17:53] jyutzler commented on #72
Yes, I would certainly like for warnings to be displayed in the HTML report. I wouldn't want a GeoPackage flagged with one or more warnings to fail certification, but I also would want responsible organizations to strive to achieve GeoPackages that don't have warnings.

[2020-11-23 09:43] dstenger commented on #72
I propose to use a skip result for warnings. A skipped test does not cause an implementation to fail the test suite but a skip is also not a successfully passed test.
The message of the skip might be something like: "WARNING: Some text."

[2020-11-23 09:44] dstenger commented on #72
@jyutzler What do you think of this proposal?

[2020-11-23 13:31] jyutzler commented on #72
While I do think it would be useful to report on the reason a test was skipped (not requested, no relevant data, etc.), I think this is semantically quite different from a warning. This approach will not allow us to express the message we want to express.

[2020-12-07 09:19] dstenger commented on #72
Currently, it is not possible to configure a text when a test passes. Would it help you if we enable that? Then you could configure something like "WARNING: Some text." for your specific case.

Can you please give us an exact example including the actual message?

[2020-12-22 11:39] keshav-nangare opened #113 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2020-12-22 13:49] jyutzler commented on #93
This is currently assigned to me, but there is not an open pull request that addresses the issue. Please re-assign.

[2020-12-22 13:50] jyutzler commented on #61
This is currently assigned to me but I am not aware of any action that I can take at this time. Please update and/or re-assign.

[2020-12-22 13:59] jyutzler commented on #72
RTree:

Once we have proven the concept, we will provide additional instances.

[2020-12-22 14:03] jyutzler commented on #74
This is currently assigned to me, but I am not aware of any action expected of me. Please revise and/or re-assign.

[2020-12-22 14:05] jyutzler commented on #90
This is currently assigned to me, but I have provided a pull request that fixes the issue. What is the next step?

[2021-01-05 13:13] dstenger commented on #93
@jyutzler If I understand correctly, this issue is on hold due to the changes made by @ajanett as described in https://github.com/opengeospatial/ets-gpkg12/pull/97#issuecomment-670806747 and the discussion in https://github.com/opengeospatial/geopackage/issues/501.
Do you think we can close this issue or should we keep it open?
Another option would be to enhance the documentation describing the re

[2021-01-05 17:13] dstenger commented on #61
It can be checked whether pull request https://github.com/ajanett/ets-gpkg12/pull/1 solves this issue. If this is the case, this issue can be closed.

[2021-01-05 17:20] dstenger commented on #72
@keshav-nangare Can you please check if such messages (https://github.com/opengeospatial/ets-gpkg12/issues/72#issuecomment-749553658) can be printed by the HTML report of TEAM Engine?
I propose to rename field "Reason of Failure:" to "Details:" and to print the message there. This should be discussed with @ghobona.

[2021-01-06 16:20] dstenger commented on #74
As far as I see, https://github.com/ajanett/ets-gpkg12/pull/1 is not part of the master branch of this repository. We should check whether we want to migrate the code.
Afterwards, we can verify if it solves the problem described in this issue.

[2021-01-06 16:22] dstenger commented on #61
https://github.com/ajanett/ets-gpkg12/pull/1 is not merged into this repository. We should check whether we want to migrate the code.

[2021-01-06 16:51] dstenger commented on #90
As you are the test lead, it is fine if you merge the pull request. If you think it is better that the rest of the CITE team reviews it, please inform us.

[2021-01-07 11:28] keshavnangare commented on #113
Fixed with #114 PR.

[2021-01-07 15:54] #90 closed

[2021-01-28 10:07] ghobona commented on #72
@dstenger @keshav-nangare Yes, I am happy for you to rename the field to "Details".

[2021-02-02 15:18] jyutzler opened #115 "Remove obsolete test"
See https://github.com/opengeospatial/geopackage/issues/570.

[2021-02-08 09:41] #95 closed

[2021-02-08 09:47] #98 closed

[2021-02-08 09:50] #99 closed

[2021-02-10 09:11] #106 closed

[2021-02-10 09:49] dstenger commented on #72
@keshav-nangare

Can you please check if SoftAssert of TestNG framework can be used?

Steps for implementation:
1. Enhance TEAM Engine to be capable to print warnings/ SoftAssert and rename column "Reason of Failure:" to "Details:".
2. Enhance this test suite to throw a warning (demo).

[2021-03-03 14:14] jyutzler opened #116 "Updates to align with 1.3.0"
Now that 1.3.0 has been published, it is time to make sure that the ETS aligns to it.

- [ ] perfunctory stuff (version numbers, etc.)
- [ ] [views](https://docs.ogc.org/is/12-128r17/18-066r1.html#_clarify_use_of_views_in_user_defined_tables_2_1_6_1_1_2_2_8_1_1_and_2_4_3_1_1)
- [ ] [SRS alignment](https://docs.ogc.org/is/12-128r17/18-066r1.html#_enforce_alignment_of_srs_ids_between_tables_2_1_5_1_

[2021-03-05 13:21] dstenger opened #118 "Integration tests are failing"
When master branch is built with following command `mvn clean verify -Pintegration-tests`, the integration tests are failing.

[2021-03-05 13:28] dstenger commented on #118
@keshav-nangare Can you please check why one test less is passed than before (see https://github.com/opengeospatial/ets-gpkg12/pull/119/files)? What pull request did break the integration tests (probably one of those https://github.com/opengeospatial/ets-gpkg12/milestone/8?closed=1)?

[2021-03-05 13:37] #113 closed

[2021-03-05 13:41] #111 closed

[2021-03-05 17:10] dstenger commented on #83
@keshav-nangare

PR #105 seems to replace #84 which was accidentally merged.

However, #84 includes more changes (e.g. 12 changed files). Why is there a difference between those two pull requests?

Also, I think it is better if we keep the original commits of @ajanett (git cherry pick can be used) and include those in your new pull request.

[2021-03-05 17:16] #102 closed

[2021-03-09 09:29] keshavnangare commented on #118
@dstenger

I checked that one test passed less than earlier because of the removal of `featureSRSconsistency` test in the https://github.com/opengeospatial/ets-gpkg12/pull/110/commits/516f2bb1a3e1c273b5440f758127bc5bb6a4c004.

[2021-03-09 10:26] #118 closed

[2021-03-24 13:14] jyutzler opened #121 "Allow for the inspection of WKB"
One of the major GeoPackage conformance risks right now is files that contain invalid geometries. Technically the contents of the WKB should be the responsibility of an ETS for OGC Simple Features, but no such thing exists at this time. Therefore this responsibility falls to us.

[2021-05-24 11:12] ghobona commented on #115
Closing because the referenced PR appears to have been merged.

[2021-05-24 11:12] #115 closed

[2021-06-29 16:42] ghobona commented on #93
@dstenger Let's update the documentation describing the restriction of the test suite.

[2021-08-06 20:14] dstenger commented on #93
@jyutzler Shall we add the list of comment https://github.com/opengeospatial/geopackage/issues/501#issue-505326216 as precondition to the documentation of the test suite?
Can you please confirm this? I can update the documentation then.

[2021-08-10 09:50] dstenger commented on #93
@dstenger is adding following sentence to documentation:

The executable test suite restricts identifiers to contain alphanumeric characters and underscores.

[2021-08-10 19:27] dstenger commented on #93
Precondition was added to documentation: https://github.com/opengeospatial/ets-gpkg12/commit/4f3dd64f4ba3198d8f79622500c5e44c725529f7

[2021-08-10 19:27] #93 closed